<nav class="navbar navbar-dark navbar-expand-md sticky-top py-3" id="mainNav">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span style="font-size: 40px;margin-right: 10px;"><i class="fa fa-terminal flash animated infinite" style="margin-right: 10px;color: rgba(255,255,255,0.4);"></i></span>
            <div style="font-family: 'Anonymous Pro', monospace;text-align: left;line-height: 5px;">
                <h1 style="font-family: 'Anonymous Pro', monospace;text-align: left;font-size: 21.88px;">Aldwin Tapican</h1><span style="font-family: 'Anonymous Pro', monospace;font-weight: bold;text-align: left;font-size: 14px;color: rgba(255,255,255,0.63);"><strong>Pentesting |&nbsp;Threat hunting | Malware Analysis</strong><br></span>
            </div>
        </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto" style="font-family: 'Anonymous Pro', monospace;">
                <li class="nav-item"></li>
                <li class="nav-item"><a class="nav-link active" href="{{ site.baseurl }}/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/feed">Blog Feed</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/resources" data-bs-target="resource.html">Resources</a></li> -->
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>